.UploadImageContainer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-x8);
}

.UploadImageContainer_drop_section {
    padding: var(--spacing-x8);
    background: var(--color-background-secondary);
    border-radius: var(--border-radius-x4);
    border: var(--border-width-x1) solid var(--color-border-primary);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x4);
    align-items: center;
    box-sizing: border-box;
    width: 360px;
}

.UploadImageContainer_drop_section--dragover {
    border-style: dashed;
    border-color: var(--color-text-primary)
}

.UploadImageContainer_text{
    color: var(--color-text-secondary);
}

.UploadImageContainer_subtext{
    color: var(--color-text-secondary);
}

.UploadImageContainer_text_highlight {
    font-size: 20px;
    color: var(--color-text-primary);
}