* {
    box-sizing: border-box;
}

body {
    background: var(--color-background-primary);
    font-family: var(--font-family-accent);
    display: flex;
    width: 100%;
    min-height: 100vh;
}

a {
    font-size: 14px;
    line-height: 120%;
}

h1 {
    font-size: 72px;
    line-height: 100%;
}

h2 {
    font-size: 36px;
    line-height: 100%;
}

h3 {
    font-size: 24px;
    line-height: 100%;
}

p {
    font-size: 16px;
    line-height: 120%;
}